.ButtonStripped() {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.Button() {
	.ButtonStripped();
	
	display: block;
	padding: 12px 20px;
	border: 6px solid black;
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	text-transform: uppercase;
	color: black;
	cursor: pointer;
	font-weight: bold;
	transition: transform 50ms ease-out;
	
	&:hover,
	&:focus {
		color: black;
		transform: scale(1.02, 1.02);
	}
	
	&:active {
		transform: scale(0.98, 0.98);
	}
}
