doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title=title
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='stylesheet', href=clientStylesPath)
		
	body
		#AppContainer!=content
		
		script(src=clientScriptPath)
		
		script!="window.__PRELOADED_STATE__ = " + JSON.stringify(preloadedState).replace(/</g, '\\u003c') + ";"
		
		if env.NODE_ENV == 'development'
			script(src='//localhost:35729/livereload.js')
